body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0c9ec;
}

.container {
    border: 2px solid black;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.checkbox {
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #ff6b81;
    color: white;         
    border: none;
    padding: 12px 25px; 
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;         
}

button[type="submit"]:hover {
    background-color: #ff4757;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.anpanman {
height: 150px;
width: 150px;
}

.shokupanman {
height: 100px;
width: 100px;
}