body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96b4df;
}

/* kanske ändra bakgrund?*/

.container {
    border: 2px solid black;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* ändra färger, typsnitt */

form {
    display: flex;
    flex-direction: column;

}

input[type="submit"] {
    background-color: #ff6b81;
    color: white;         
    border: none;
    padding: 12px 25px; 
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;         
}

input[type="submit"]:hover {
    background-color: #ff4757;
}

/* justera storlek/plats? */

.anpanman {

}

.shokupanman {
height: 100px;
width: 100px;
}